In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\USER\\Desktop\\courses'

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1496-999D

 Directory of C:\Users\USER\Desktop\courses

19/02/2024  18:30    <DIR>          .
19/02/2024  18:30    <DIR>          ..
19/02/2024  18:30    <DIR>          .ipynb_checkpoints
08/01/2024  11:42            73,809 conditional filtering.ipynb
08/01/2024  11:44           153,773 dataframe_p1.ipynb
12/02/2024  12:24            89,857 group_by.ipynb
19/02/2024  18:30                72 input_output.ipynb
20/01/2024  16:36            37,334 missing_data.ipynb
07/02/2020  22:26               177 movie_scores.csv
02/07/2020  01:56            17,727 mpg.csv
12/12/2023  18:10            19,074 numpy_essentials.ipynb
12/12/2023  17:34            11,765 numpy_indexing.ipynb
12/12/2023  17:51            11,009 numpy_operations.ipynb
14/12/2023  23:01           723,355 pd_series.ipynb
12/12/2023  14:55            17,581 python_crash.ipynb
03/07/2020  03:56             5,459 RetailSales_BeerWineLiquor.csv
19/01/2024  19:18            91,629 statistical_sorting.ipynb
12/02/2024  14:33            10,714 text_data_string_methods.ipynb
19/02/2024  18:24            25,150 time_methods.ipynb
15/12/2023  00:01            18,752 tips.csv
09/01/2024  14:44            40,058 useful_links.ipynb
              18 File(s)      1,347,295 bytes
               3 Dir(s)  54,051,622,912 bytes free

In [4]:
df = pd.read_csv('example.csv')

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
#if want to use the index col
df = pd.read_csv('example.csv', index_col=0)
# a becomes our index col

In [7]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [13]:
# to save
df.to_csv('newfile.csv',index=False) #False because we dont want ot change the previous index col

In [14]:
# to read in
new = pd.read_csv('newfile.csv')

In [15]:
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15